input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}
#result {
  padding: 20px 0;
  margin: 20px 0;
  font-size:20px;
}
p{
  font-size: 20px;
}